.start{
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-around;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.start-input{
   width: 100%;
   height: 30px;
   border-radius: 5px;
   border: none;
   text-align: center;
   font-size: 1rem;
}
.start-input:focus{
    outline: none;
}
.btn-start{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
}